@use 'assets/styles/variables' as *;

// Import admin's CSS requirements
@use './includes/landing.scss';
@use './product/products.scss';
@use './admin/admins.scss';

#admin{
  display:flex;
  width: 100%;
  position:relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font;
  form{
    width:65%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2%;
    border:1px solid black;
    input{
      margin:1%;
      width:70%;
      text-align: center;
      &[type=submit]{
        @include submit-button;
      }
    }
  }
}

#admin_alt{
  @include admin-alt;
  #products, #admins{
    @include admin-alt-display;
  }
}

@media screen and (max-width:499px){
  #admin{
    form{
      width:80%;
    }
  }
}