{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main id="connexion">
        <div id="connexion_header">
            <h3>CONNEXION</h3>
            <h4>Vous n'êtes pas encore inscrit ? <a href="{{ path('user_register') }}">INSCRIPTION</a></h4>
        </div>

        <form method="post">
            {% if error %}
                <div class="alert alert-error">{{ "connexion.error"|trans({}, 'messages') }}</div>
            {% endif %}
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <label for="checkboxRemember">
                Rester connecter
                <input type="checkbox" name="_remember_me" id="checkboxRemember">
            </label>
            <input type="submit" value="Valider">
        </form>
    </main>

</form>
{% endblock %}
