{% extends 'base.html.twig' %}

{% block pretitle %}ACCUEIL{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="success">{{ flashMessage }}</div>
    {% endfor %}
    <main id="home">

    </main>
{% endblock body %}

