@use 'assets/styles/variables' as *;

.select_checkout_address{
  padding: 2%;
  width: max-content;
  margin: auto;
  border-radius: 8px;
  outline: unset;
  border: 2px ridge $grey_transparent;
  background: $grey_light;
  transition: all 0.2s;
  &:not([disabled]):hover{
    cursor: pointer;
    background: $green_light;
    transition: all 0.3s;
  }
  &:active{
    transform: scale(0.95);
    transition: all 0.2s;
  }
  &.address-selected{
    background: $green_light;
  }
}

#checkout_form_stripe{
  border: unset !important;
  button{
    font-size: large;
    padding: 1% 2%;
    background: $grey_dark;
    color: $orange;
    border: 1px solid $orange;
    &:hover{
      border: 1px solid $orange_light;
      background: $orange;
      color: $orange_light;
      transition: all 0.3s;
      cursor: pointer;
    }
  }
}