@use 'assets/styles/variables' as *;

/**
 * Background gradient by Manuel Pinto https://codepen.io/P1N2O
 */

#cart{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  #cart_products_container{
    position: relative;
    width: 60%;
    height: 100%;
    min-width: 350px;
    background-color: $grey;
    overflow-y: scroll;
    scrollbar-color: $blue_light;
    scrollbar-width: thin;
    flex-grow: 1;
    #cart_empty_container{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6%;
      box-sizing: border-box;
      p{
        font-size: xxx-large;
        font-weight: bold;
        color: $grey_light;
        width: 100%;
        text-align: center;
      }
      #cart_empty_goto_products{
        position: relative;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #e73c7e, #ee7752);
        background-size: 400% 300%;
        animation: gradient 5s ease infinite;
        padding: 1% 2%;
        font-size: xxx-large;
        border: none;
        border-radius: 6px;
        text-decoration: none;
        color: $white_light;
        &::after{
          display: flex;
          justify-content: center;
          align-items: center;
          content: '';
          text-align: center;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: transparent;
          border-radius: 6px;
          z-index: 3;
          transition: all 0.2s ease-in;
        }
        &:hover{
          transform: scale(1.05);
          transition: all 0.2s ease-in;
          &::after{
            background-color: $green_light_transparent;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
    .cart_product{
      position: relative;
      width: 98%;
      height: 15%;
      padding: 1% 2%;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 1% 0;
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px;
      box-shadow: 6px 6px 8px 6px $grey_dark_transparent;
      &:nth-of-type(2n + 1){
        background: linear-gradient(30deg, rgba(20,20,20,1) 0%, rgba(115,115,115,1) 30%, rgba(169,186,185,1) 70%, rgb(213, 204, 196) 100%);
      }
      &:nth-of-type(2n){
        background: linear-gradient(30deg, rgba(20,20,20,1) 0%, rgba(115,115,115,1) 30%, rgba(169,186,185,1) 70%, rgb(213, 203, 193) 100%);
      }
      .cart_product_total{
        font-weight: bolder;
        font-size: x-large;
        color: $grey;
      }
      .cart_product_remove{
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-right-radius: 30%;
        background: $white_light;
        color: $red;
        padding: 0.5%;
        z-index: 3;
        outline: unset;
        border: unset;
        box-shadow: 2px 2px 6px 6px $grey_dark_transparent;
        &:hover{
          cursor: pointer;
          background: $white;
          color: $red_strong;
          transition: all 0.3s;
        }
      }
      .cart_product_image_infos{
        display: flex;
        flex-direction: row;
        width: 60%;
        height: 100%;
        min-width: 175px;
        .cart_product_infos_holder{
          width: 70%;
          margin-left: 1%;
          h3{
            font-size: x-large;
            font-weight: bolder;
          }
          h4{
            color: $grey;
            b{
              color: $grey_dark;
            }
          }
        }
        .cart_product_image_container{
          position: relative;
          width: 30%;
          height: 100%;
          border: 1px solid $grey_dark;
          background: $white_light;
          overflow: hidden;
          padding: 1%;
          box-sizing: border-box;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .cart_product_quantity_holder{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 10%;
        button{
          background: none;
          border-radius: 6px;
          border: unset;
          color: $orange;
          font-weight: bold;
          font-size: xx-large;
          padding: 1% 5%;
          &:hover{
            cursor: pointer;
            color: $orange_light;
            transition: all 0.4s ease-in;
          }
        }
        p{
          margin: 0.5%;
          font-weight: bold;
          color: $grey;
          font-size: x-large;
        }
      }
      a{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 15%;
        clip-path: polygon(75% 55%, 100% 0, 100% 100%, 50% 100%);
        background: $orange;
        transition: all 0.4s ease-out;
        color: $black;
        text-decoration: none;
        font-family: $font;
        text-align: center;
        span{
          opacity: 0;
        }
        &:hover{
          background: $orange_light;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          transition: all 0.3s ease-in;
          span{
            opacity: 1;
            transition: all 0.3s ease-in;
          }
        }
      }
    }
  }
  #cart_payment_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: $grey;
    flex-grow: 1;
    #cart_payment_main{
      position: relative;
      width: 80%;
      height: 80%;
      background: $white;
      border-radius: 10px;
      box-shadow: 4px 4px 12px 6px $grey_dark_transparent;
      overflow: hidden;
      #cart_payment_total_container{
        position: relative;
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: $grandient_whiteToLight;
        #cart_payment_details{
          position: relative;
          width: 100%;
          padding: 1% 2%;
          box-sizing: border-box;
          justify-self: flex-start;
          display: flex;
          flex-direction: column;
          color: $grey;
          text-align: center;
        }
        #cart_payment_shipping{
          width: 100%;
          background: $orange_light;
          padding: 1%;
          color: $grey;
          font-style: italic;
        }
        #cart_payment_total{
          width: 100%;
          display: inline-block;
          align-self: flex-end;
          overflow: hidden;
          font-size: xxx-large;
          span:first-of-type{
            display: inline-block;
            width: 50%;
            text-align: center;
            font-weight: bold;
            padding: 2% 3%;
            box-sizing: border-box;
            background: $orange;
            color: $white_light;
            border-top: 2px solid $orange;
          }
          span:last-of-type{
            display: inline-block;
            width: 50%;
            text-align: center;
            padding: 2% 3%;
            background: transparent;
            color: $grey_dark;
            box-sizing: border-box;
            border-top: 2px solid;
            border-image-source: $grandient_orangeToFade;
            border-image-slice: 1;
          }
        }
        p{
          font-size: x-large;
          text-align: center;
          small{
            font-size: x-small;
          }
          &:nth-of-type(2){
            font-size: medium;
          }
        }
      }
      #cart_payment_checkout{
        position: relative;
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: $grandient_whiteToLight;
        h2{
          margin: 1%;
        }
        #cart_payment_buttons{
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: x-large;
            padding: 3% 2%;
            box-sizing: border-box;
            border: 1px solid $white_light;
            border-radius: 12px;
            color: $grey_dark;
            background: $white;
            transition: all 0.3s;
            margin: 1% 0;
            width: 65%;
            text-align: center;
            box-shadow: 0 0 3px 2px $grey_light_transparent;
            &:hover{
              transform: scale(1.1);
              background: $orange_light;
              border: 1px solid $orange_light;
              color: $grey_dark;
              transition: background 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in, transform 0.2s;
            }
          }
        }
      }
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media screen and (max-width:499px){

}