@use 'assets/styles/variables' as *;

#products{
  background-color: $grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .product_container{
    position: relative;
    width: 20%;
    height: 25%;
    min-width: 125px;
    flex-grow: 1;
    display: flex;
    a{
      position: relative;
      flex-grow: 1;
      text-decoration: none;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transform-origin: center;
        transition: all 0.3s ease-out;
      }
      &:hover{
        img{
          transform: scale(1.2);
          transform-origin: center;
          transition: all 0.3s ease-in;
        }
      }
    }
    &#load_products{
      a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white_light;
        border: 0.5vh solid $white_light;
        transition: color 0.3s, border 0.3s;
        p{
          position: absolute;
          width: 100%;
          top: 25%;
          left: 50%;
          font-size: x-large;
          font-weight: bold;
          opacity: 1;
          transform: rotate(0deg) translate(-50%, -25%);
          transition: all 0.3s ease-in;
        }
        i{
          position: absolute;
          margin: auto;
          transform: rotate(0deg);
          transition: all 0.4s ease-out;
          &#fa_plus{
            opacity: 1;
            font-size: xx-large;
          }
          &#fa_loader{
            opacity: 0;
            font-size: xxx-large;
            animation: 0.7s rotate360 linear infinite;
          }
        }
        &:hover{
          color: $orange;
          border: 2vh solid $orange;
          transition: color 0.3s, border 0.3s;
          p{
            font-size: large;
            opacity: 0;
            transition: all 0.3s ease-in;
          }
          i{
            &#fa_plus{
              transform: rotate(360deg) scale(1.2);
              transform-origin: center;
              font-size: xxx-large;
              transition: all 0.5s ease-in-out;
            }
            &#fa_loader{
              animation: 0.7s rotate360 linear infinite;
            }
          }
        }
      }
    }
  }
}

@keyframes rotate360{
  to {transform: rotate(360deg);}
}