@use '../../variables' as *;

#product{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(255,156,0);
  background: linear-gradient(227deg, rgba(100,40,0,1) 0%, rgba(45,45,45,1) 50%, rgba(25,25,25,1) 100%);
  section{
    position: relative;
    display: flex;
    flex-grow: 1;
    min-width: 300px;
  }
  #product_image_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    .product_image_resizer{
      width: max-content;
      max-width: 90%;
      max-height: 90%;
      height: max-content;
      overflow: hidden;
      .product_image{
        height: 100%;
        object-fit: contain;
        padding: max(6px, 1%);
        box-sizing: border-box;
        background-color: $white_light;
        &:hover{
          cursor: pointer;
          border: 1px solid $orange;
          background-color: $orange;
          transition: all 0.4s;
        }
      }
    }
    .product_image_hidden {
      position: absolute;
      visibility: hidden;
      max-width: 90%;
      max-height: 100%;
      object-fit: contain;
      padding: 1%;
      box-sizing: border-box;
      border: 1px solid $black;
      background-color: $white_light;
      transition: all 0.3s ease-out;
    }
  }
  #product_description_container{
    width: 25%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .product_description_resizer{
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      #product_text{
        height: 50%;
        min-height: 300px;
        flex-grow: 1;
        padding: 4%;
        position: relative;
        background: rgb(45,45,45);
        background: linear-gradient(35deg, rgba(45,45,45,1) 25%, rgba(75,75,75,1) 100%);
        border-top-right-radius: 6%;
        border-top-left-radius: 6%;
        box-shadow: 4px 4px 6px 4px $grey_dark_transparent;
        border-bottom: 3px solid $orange_light_transparent;
        h1{
          color: $orange;
          font-size: x-large;
        }
        h3{
          a{
            text-decoration: none;
            color: $white_light;
            font-size: large;
            &:hover{
              color: $yellow;
            }
          }
        }
        p{
          margin-top: 5%;
          color: $grey_light;
          padding-right: 2%;
        }
      }
      #product_buy{
        height: 40%;
        min-height: 150px;
        flex-grow: 1;
        #product_buy_group{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 4%;
          background: rgb(45,45,45);
          background: linear-gradient(35deg, rgba(35,35,35,1) 0%, rgba(45,45,45,1) 75%, rgba(65,65,65,1) 100%);
          border-bottom-right-radius: 6%;
          border-bottom-left-radius: 6%;
          box-shadow: 4px 0 6px 4px $grey_dark_transparent;
          p{
            font-size: xx-large;
            color: $orange_light;
          }
          #product_buy_selector{
            padding: 1%;
            font-size: x-large;
            color: $white_light;
            button{
              border: none;
              background: none;
              font-size: x-large;
              &:enabled{
                color: $orange_light;
                &:hover{
                  cursor: pointer;
                  color: $yellow;
                  transition: all 0.3s;
                }
              }
              &:disabled{
                color: $grey_light_transparent;
              }
            }
          }
          .btn-cart_add{
            background: $orange_mid;
            border: 1px solid $orange;
            padding: 3% 5% 2% 5%;
            font-size: large;
            border-radius: 6%;
            color: $white;
            &:hover{
              cursor: pointer;
              background: $orange_light;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:499px){
  #product{
    #product_suggestions_container{
      display: none;
    }
    #product_image_container{
      height: 50%;
    }
    #product_description_container{
      height: 50%;
      .product_description_resizer{
        #product_text{
          height: max-content;
          min-height: unset;
          flex-grow: unset;
        }
        #product_buy{
          height: max-content;
          min-height: unset;
          flex-grow: unset;
        }
      }
    }
  }
}