@use 'assets/styles/variables' as *;

// Import user's CSS requirements
@use 'includes/landing';
@use 'includes/modify_password';
@use 'address/show_addresses';
@use 'address/_modal_address';

#profile{
  display:flex;
  flex-direction: column;
  font-family: $font;
  justify-content: center;
  align-items: center;
  min-width: max-content;
}
