@use 'assets/styles/variables' as *;

// Import user's CSS requirements
@use 'includes/landing';
@use 'includes/modify_password';
@use 'includes/reset_password';
@use 'includes/login';
@use 'includes/register';
@use 'includes/order';
@use 'includes/show_addresses';

#profile{
  display:flex;
  flex-direction: column;
  font-family: $font;
  justify-content: center;
  align-items: center;
  min-width: max-content;
}
