<footer>
    <div id="footer_left">
        <p>Minimal SHOP<br>
            625 Avenue du général Leclerc<br>
            Paris CEDEX 15<br>
            contact@minimal-shop.fr
        </p>
    </div>
    <div id="footer_middle">
        <a href="">Conditions générales</a>
        <a href="">Politique de confidentialité</a>
        <a href="">Accessibilité</a>
        <a href="">Plan du site</a>
    </div>
    <div id="footer_right">
        <a href="{{ path('home') }}">
            <h1>Minimal<br>SHOP</h1>
        </a>
    </div>
</footer>