@use 'assets/styles/variables' as *;

#admin{
  #admin_container{
    width: 70%;
    display: flex;
    border: 1px solid $grey_light;
    transition: all 0.2s;
    padding: 2%;
    flex-direction: column;
    &:hover{
      border:1px solid $white_light;
      transition: all 0.3s;
    }
    #admin_titles{
      width:100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $grey_light;
      transition: all 0.2s;
      &:hover{
        border-bottom: 1px solid $white_light;
        transition: all 0.3s;
      }
      a{
        text-decoration: none;
        background: $grey_light;
        color: $grey_dark;
        padding: max(0.5%, 4px);
        margin: calc(max(1%, 10px));
        border-radius: 8px;
        &:hover{
          background:grey;
          transition: all 0.3s;
        }
      }
    }
    #admin_routes{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a{
        text-decoration: none;
        color: $orange;
        margin: calc(max(1%, 10px));
        font-size: large;
        &:hover{
          color: $orange_light;
          transition: all 0.3s;
        }
      }
    }
  }
}