{% extends 'base.html.twig' %}

{% block pretitle %}NOS PRODUITS{% endblock %}

{% block body %}
    <main id="products">

    </main>
{% endblock body %}

{% block javascripts %}
    {# Cart handler script #}
    {{ encore_entry_script_tags('cart') }}
{% endblock %}