{% extends 'base.html.twig' %}

{% block pretitle %}{{ product.name|upper }}{% endblock %}

{% block body %}
    {% set author = product.author %}
    <main id="product">
        <section id="product_container">
            <div id="product_image_container">
                {% set imageName = product.getImages ? product.getImages[0].name : null %}
                <img src="{{ asset('images/products/' ~ author.id ~ '/' ~ imageName) }}" alt="{{ product.name }} par {{ author.name }}">
            </div>
        </section>
    </main>
{% endblock body %}
