$font                   : 'Yantramanav';
$white                  : rgb(255, 255, 255);
$white_light            : rgb(220, 220, 220);
$black                  : rgb(0, 0, 0);
$grey_dark              : rgb(20, 20, 20);
$grey_dark_transparent  : rgba(20, 20, 20, 0.5);
$grey                   : rgb(45, 45, 45);
$grey_transparent       : rgba(45, 45, 45, 0.3);
$grey_light             : rgb(115, 115, 115);
$grey_light_transparent : rgba(115, 115, 115, 0.3);
$orange                 : rgb(240, 95, 0);
$orange_light           : rgb(240, 175, 0);
$green                  : rgb(30, 150, 40);
$red                    : rgb(170, 15, 15);
$red_strong             : rgb(255, 0, 0);
$blue                   : rgb(25, 90, 240);
$blue_light             : rgb(90, 190, 255);
$yellow_light           : rgba(255, 225, 95, 0.50);

@mixin login-register{
  font-family: $font;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:100%;
  background:white;
  #inscription_header, #connexion_header, #modify_password_header{
    text-align:center;
    h3{
      font-size: calc(14px + 1vw);
    }
    h4{
      font-size:calc(12px + 0.5vw);
      a{
        text-decoration: none;
        color:$orange;
        &:hover{
          color:$orange_light;
          transition:color 0.3s;
        }
      }
    }
  }
}

@mixin standard-form{
  form{
    border:1px solid $grey;
    padding:2%;
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
    width:50%;
    margin:2%;
    div{
      position: relative;
      width: 100%;
      div{
        display: flex;
        flex-direction: row;
        margin:1%;
        label, input, select, textarea{
          width:70%;
          font-family: $font;
        }
        input[type=file]{
          text-align: center;
        }
        label{
          margin-right:1%;
          text-align: right;
          width:30%;
        }
      }
    }
    input[type=submit]{
      margin-top:2%;
      background:$grey;
      color:white;
      font-family: $font;
      outline:0;
      border:1px solid black;
      border-radius: unset;
      padding:1.5%;
      font-size:calc(10px + 0.5vw);
      line-height:calc(10px + 0.5vw);
      &:hover{
        background:$grey_light;
        transition:all 0.3s;
        cursor:pointer;
        font-size:calc(13px + 0.5vw);
      }
    }
  }
}

@mixin div-det{
  display:flex;
  width:100%;
  position:relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin:calc(max(1%, 15px)) 0;
  padding:1%;
  border-bottom:1px solid black;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: $font;
  .adm_delete_btn{
    color:red;
    font-family: $font;
    background:none;
    font-size: calc(15px + 1vw);
    width:calc(max(5%, 35px));
    min-width:25px;
    border:1px solid transparent;
    &:hover{
      cursor:pointer;
      color:$orange;
      border:1px solid $orange;
      transition:all 0.3s;
    }
  }
  &:last-of-type{
    border-bottom: none;
  }
}

@mixin div-det-button{
  outline: 0;
  border: 1px solid $orange_light;
  padding: 2px 5px;
  border-radius: unset;
  font-family: $font;
  background: $white;
  width: max-content;
  align-self: center;
  &:hover{
    cursor: pointer;
    background: $orange_light;
    transition: all 0.3s;
  }
}

@mixin submit-button{
  margin:2%;
  background:$grey;
  color:white;
  font-family: $font;
  outline:0;
  border:1px solid black;
  border-radius: unset;
  padding:1% 0;
  font-size:calc(10px + 0.5vw);
  line-height:calc(10px + 0.5vw);
  &:hover{
    background:$grey_light;
    transition:all 0.3s;
    cursor:pointer;
    font-size:calc(13px + 0.5vw);
  }
}

@mixin admin-alt{
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
}

@mixin admin-add-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position:relative;
  .add_container{
    width:25%;
    flex-grow: 1;
    padding:2%;
    display:flex;
    button.adm_modify_btn, button.add_btn{
      flex-grow: 1;
      width:90%;
      padding:2%;
      background:white;
      border:1px solid $orange_light;
      font-family: $font;
      &:hover{
        cursor:pointer;
        background:$orange_light;
        transition: all 0.3s;
      }
    }
  }
}

@mixin admin-alt-display{
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid black;
  font-family: $font;
  padding: 1%;
  box-sizing: border-box;
  details{
    width: 100%;
    position: relative;
    padding: 2%;
    border: 1px solid $orange;
    margin: calc(max(1%,15px)) 0;
    box-sizing: border-box;
    summary{
      font-size: calc(14px + 0.6vw);
      &:hover{
        cursor: pointer;
      }
    }
    .div_det{
      @include div-det;
      div{
        width: 25%;
        min-width: 100px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        button {
          @include div-det-button;
        }
      }
      a{
        width: 15%;
        flex-grow: 1;
        text-decoration: none;
        color: $blue;
        text-align: center;
        align-self: center;
        &:hover{
          color: red;
          transition: all 0.3s;
        }
      }
    }
  }
}

@mixin clamped-lines-2{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin clamped-lines-4{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}