@use 'assets/styles/variables' as *;

// Import globals
@use 'globals/header';
@use 'globals/footer';
@use '_modal';

// Import user
@use 'user/user';

// Import admin
@use 'admin/admin';

// Import author
@use 'author/author';

// Import product
@use 'product/product';

// Import cart
@use 'cart/cart';

// Import home
@use 'home/home';

// Global rules
*, html, body{
  margin: 0;
  padding: 0;
  font-family: $font;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

header{
  min-height: max-content;
  flex-grow: 1;
}

main{
  position: relative;
  flex-grow: 1;
  height: 95%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: $grey;
  color: $white_light;
}

// Specific rules
.success, .failure, .warning{
  text-align: center;
  font-family: $font;
  position: absolute;
  z-index: 9;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 1;
  border: 1px solid $grey_light_transparent;
  border-radius: 8px;
  padding: 1.5%;
  animation: disappear 0.5s ease-in 3s forwards;
  transition: opacity 0.4s;
  &.warning {
    color: $grey_dark;
    background: $orange_light;
  }
  &.success{
    color: $green;
    background: $green_light;
  }
  &.failure{
    color: $grey_dark;
    background: $red_light;
  }
}

.red-text{
  color: $red;
  font-weight: bold;
  font-family: $font;
}

.separator_grey_light{
  width: 80%;
  margin: 1% auto;
  height: 1px;
  border-radius: 6px;
  background-color: $grey_light_transparent;
}

#custom-flash-message{
  position: absolute;
  visibility: hidden;
  opacity: 1;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: 1% 2%;
  border-radius: 10px;
  font-size: large;
  z-index: 6;
}

.back-btn{
  text-decoration: none;
  padding: 1% 2%;
  border: 1px solid black;
  background: $grey_dark;
  color: $orange;
  margin: calc(max(2%, 20px));
  &:hover{
    background: $grey;
    color: $orange_light;
    transition: all 0.3s;
  }
}

.backto_holder{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1% 2%;
  background: $grey_dark_transparent;
  .btn-backto{
    color: $white_light;
    text-decoration: unset;
    width: max-content;
    font-weight: 600;
    &:hover{
      color: $orange_light;
      transition: all 0.3s;
    }
  }
}

.swal2-popup{
  font-family: $font !important;
}

.str{
  font-weight: bold;
}

.close-modal{
  width: max-content;
  background: $grey_light;
  border: 1px solid black;
  right: 5%;
  top: 5%;
}

.form-errors{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $red;
  padding: 1%;
  background: $white;
  color: $red;
}

.required{
  color: $red;
}

.current_admin{
  background: $yellow_transparent;
}

#product_suggestions_container{
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  #product_suggestions_resizer{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: black;
    .product_suggestions_scroller{
      height: 33.33%;
    }
  }
}

#cart_product_suggestions_container{
  width: 100%;
  height: 30%;
  position: relative;
  #cart_product_suggestions_resizer{
    position: relative;
    width: 100%;
    height: 100%;
    .product_suggestions_scroller{
      height: 100%;
    }
  }
}

.product_suggestions_scroller{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  .suggestion_container{
    position: relative;
    overflow: hidden;
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    max-height: 100%;
    text-decoration: none;
    .suggestion_image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      outline: 4px solid $white_light;
      outline-offset: -2px;
      transition: all 0.3s;
    }
    &:hover{
      .suggestion_image{
        outline: 4px solid $orange;
        transition: all 0.4s;
      }
    }
  }
  .btn-suggestions_nav{
    position: absolute;
    display: flex;
    align-self: center;
    width: max-content;
    padding: 1% 2%;
    background: $orange;
    border: unset;
    outline: unset;
    cursor: pointer;
    z-index: 2;
    &.suggestions-left{
      left: 0;
      box-shadow: 3px 3px 2px 2px $grey_transparent;
    }
    &.suggestions-right{
      right: 0;
      box-shadow: -3px 3px 2px 2px $grey_transparent;
    }
    i{
      flex-grow: 1;
      height: 100%;
      color: $white_light;
      outline-offset: -2px;
      font-size: xx-large;
    }
    &:hover{
      background: $yellow;
      transition: all 0.3s;
    }
  }
  .suggestions_title{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    z-index: 2;
    box-shadow: 3px 3px 4px 3px $grey_transparent;
    h2{
      width: 100%;
      background-color: $orange;
      color: $white;
      border-bottom-right-radius: 30px;
      padding: 1% 2%;
      font-size: medium;
      font-weight: bolder;
    }
  }
}

.search_item_container{
  height:100vh;
  width:100%;
  position:fixed;
  top:0;
  background:rgba(136, 136, 136, 0.8);
  z-index:7;
  visibility: hidden;
  left:0;
  .search_item_box{
    position: absolute;
    height:80%;
    width:100%;
    bottom:-100%;
    background: $grey_dark;
    display:flex;
    flex-direction: column;
    align-items: center;
    z-index:8;
    button{
      background: transparent;
      border: none;
      width: max-content;
      font-size: calc(18px + 1vw);
      color: $blue_light;
      &:hover{
        cursor:pointer;
        color: $white_light;
        transition: color 0.3s;
      }
    }
    input{
      width:80%;
      line-height: calc(20px + 1.5vw);
      font-size: calc(22px + 1.6vw);
      font-family: $font;
      text-align: center;
    }
  }
  .search_results_box{
    overflow-y: auto;
    height:auto;
    scrollbar-color: $orange #e0e0e0;
    scrollbar-width: thin;
    padding:2%;
    width:100%;
    .div_det{
      @include div-det;
      div{
        width:20%;
        min-width: 120px;
        flex-grow: 1;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        &.active, &.stock, &.price{
          width:10%;
          min-width:50px;
        }
        &.name, &.author_name, &.product_name{
          width:15%;
          min-width:120px;
        }
        button{
          outline: 0;
          border: 1px solid $orange_light;
          padding: 2px 5px;
          border-radius: unset;
          font-family: $font;
          background: $grey_light;
          color: black;
          width: max-content;
          align-self: center;
          font-size: initial;
          font-weight: bold;
          &:hover{
            cursor: pointer;
            background: $orange_light;
            transition: all 0.3s;
          }
        }
        p{
          @include clamped-lines-2;
        }
      }
      a{
        width:30%;
        flex-grow: 1;
        text-decoration: none;
        color: $blue_light;
        text-align: center;
        &:hover{
          color:$white;
          transition: all 0.3s;
        }
      }
    }
    &#search_results_discount{
      .div_det{
        div{
          width:15%;
        }
      }
    }
  }
}

@media screen and (max-width:499px){

}