@use 'assets/styles/variables' as *;

// Import globals
@use 'globals/header';
@use 'globals/footer';
@use '_modal';

// Import user
@use 'user/user';

// Import admin
@use 'admin/admin';

// Import author
@use 'author/author';

// Import product
@use 'product/product';

// Global rules
*, html, body{
  margin: 0;
  padding: 0;
  font-family: $font;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: white;
}

header{
  min-height: max-content;
  flex-grow: 1;
}

main{
  flex-grow: 1;
  height: 95%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

// Specific rules
.success, .failure, .warning{
  font-family: $font;
  position: absolute;
  z-index: 9;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 1;
  background: white;
  border: 1px solid black;
  padding: 1.5%;
  animation: disappear 0.5s ease-in 3s forwards;
  &.warning {
    color: $orange_light;
  }
  &.success{
    color: $green;
  }
  &.failure{
    color: $red;
  }
}

.red-text{
  color: $red;
  font-weight: bold;
  font-family: $font;
}

.back-btn{
  text-decoration: none;
  padding: 1% 2%;
  border: 1px solid black;
  background: white;
  color: black;
  margin: calc(max(2%, 20px));
  &:hover{
    background: rgb(195, 195, 195);
    transition: all 0.3s;
  }
}

.swal2-popup{
  font-family: $font !important;
}

.str{
  font-weight: bold;
}

.close-modal{
  width: max-content;
  background: white;
  border: 1px solid black;
  right: 5%;
  top: 5%;
}

.form-errors{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $red;
  padding: 1%;
  background: $white;
  color: $red;
}

.required{
  color: $red;
}

a#back_btn{
  font-family: $font;
  background:white;
  padding:1% 2%;
  border:1px solid black;
  text-decoration: none;
  margin:2%;
  text-align: center;
  width:max-content;
  color:black;
  &:hover{
    background:rgb(195, 195, 195);
    transition:all 0.3s;
  }
}

.current_admin{
  background: $yellow_transparent;
}

@media screen and (max-width:499px){

}