@use 'assets/styles/variables' as *;

#header_nav{
  position:relative;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background:white;
  border-bottom:1px solid $grey;
  min-height:15vh;
  height:max-content;
  flex-wrap: wrap;
  #header_right{
    position:relative;
    min-width:max-content;
    width:70%;
    flex-grow: 1;
    display:flex;
    flex-wrap: wrap;
    ul{
      display:flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
      li{
        list-style-type: none;
        display:flex;
        justify-content: center;
        min-width: 120px;
        position:relative;
        margin:0% 2%;
        a{
          font-family:$font;
          text-decoration: none;
          color:black;
          &:hover{
            color:$orange;
            transition:color 0.3s;
          }
        }
        &#search_bar_container{
          width:max-content;
          min-width: 200px;
          input{
            margin:0% calc(max(1%, 6px));
            border:1px solid black;
            border-radius: unset;
            font-family: $font;
            outline: 0;
            border-bottom: none;
          }
          button{
            background:none;
            border:none;
          }
        }
      }
    }
  }

  #header_left{
    position:relative;
    min-width:max-content;
    width:30%;
    flex-grow: 1;
    display:flex;
    a{
      font-family:$font;
      text-decoration: none;
      padding:1% 2%;
      color:black;
      position:relative;
      display:flex;
      flex-direction: column;
      height: max-content;
      h1{
        height: max-content;
        display:flex;
        flex-direction: column;
        width:100%;
        position:relative;
        padding:5px 10px;
        span{
          width:100%;
          display:block;
          transition:all 0.3s;
          &:first-of-type{
            background:black;
            text-align: center;
            color:white;
          }
          &:last-of-type{
            text-align: right;
          }
        }
      }
      &:hover{
        h1{
          span{
            transition:all 0.5s;
            &:first-of-type{
              background:white;
              color:black;
            }
            &:last-of-type{
              background:black;
              color:white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:499px){
  #header_nav{
    #header_right{
      ul{
        flex-direction: column;
        align-items: center;
        li{
          a{
            margin:0 auto;
          }
        }
      }
    }
  }
}