<!DOCTYPE html>
    <head>
        {% include 'includes/head.html.twig' %}
        <title>
            {% block title %}
                {% block pretitle %}{% endblock %} | MINIMAL SHOP
            {% endblock %}
        </title>
    </head>
    <body>
        {% include 'includes/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'includes/footer.html.twig' %}
    </body>
<html>