<div id="main_modal_container">
    <div id="main_modal">
        <span class="modal_buttons">
            <button class="close-modal" id="close_main_modal">X</button>
        </span>
        {% block modal %}
        {% endblock %}
    </div>
</div>