<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
    {% include 'includes/head.html.twig' %}
    <body>
        {% include 'includes/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'includes/footer.html.twig' %}
    </body>
</html>
