<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include 'includes/head.html.twig' %}
        <title>
            {% block title %}
                {% block pretitle %}{% endblock %} | MINIMAL SHOP
            {% endblock %}
        </title>
</head>
    <body>
        {% if is_granted('ROLE_ADMIN') %}
            {% include 'includes/header_admin.html.twig' %}
        {% else %}
            {% include 'includes/header.html.twig' %}
        {% endif %}
        {% block body %}{% endblock %}
        {#{% include 'includes/footer.html.twig' %}#}
        {% include 'includes/searchbar.html.twig' %}
        {% block searchbarScript %}
            <script type="text/javascript">
                window.globalSearchPath = "{{ path('user_global_search') }}"
            </script>
            {{ encore_entry_script_tags('user_global_searchbar') }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
