<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include 'includes/head.html.twig' %}
        <title>
            {% block title %}
                {% block pretitle %}{% endblock %} | MINIMAL SHOP
            {% endblock %}
        </title>
</head>
    <body>
        {% include 'includes/header.html.twig' %}
        {% block body %}{% endblock %}
        {#{% include 'includes/footer.html.twig' %}#}
        {% block javascripts %}{% endblock %}
    </body>
</html>
