<!DOCTYPE html>
    {% include 'includes/head.html.twig' %}
    <body>
        {% include 'includes/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'includes/footer.html.twig' %}
    </body>
<html>