@use 'assets/styles/variables' as *;

#brands{
  position: relative;
  width: 100%;
  #brands_container{
    position:relative;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .brand_container{
      position: relative;
      width: 20%;
      height: 20%;
      min-height: 120px;
      min-width: 175px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1%;
      padding: 1%;
      border: 1px solid $black;
      cursor: pointer;
      background: $white;
      &:hover{
        background: $orange_light;
        transform: scale(1.05);
        transition: all 0.4s;
      }
      p{
        @include clamped-lines-4;
      }
      a{
        text-decoration: none;
        font-size: calc(14px + 0.6vw);
        font-weight: bold;
        text-align: center;
      }
    }
  }
}