@use 'assets/styles/variables' as *;

#reset_password_request, #check_email, #reset_password{
  @include login-register;
  @include standard-form;
  form{
    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      small{
        color: $white_light_transparent;
      }
      label{
        margin: 1%;
      }
      input[type=email]{
        width: 50%;
        min-width: 100px;
      }
    }
    button{
      @include submit-button;
    }
  }
}

#check_email{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  #header_check_email{
    margin: 5%;
  }
  #text_check_email{
    width: 70%;
    padding: 1%;
    border: 1px solid $orange;
    background: $grey_shade;
    box-shadow: 3px 3px 6px 3px $grey_dark_transparent;
    border-radius: 8px;
    p{
      width: 100%;
      text-align: center;
      margin: 1%;
      a{
        color: $orange;
        transition: all 0.2s;
        text-decoration: none;
        font-weight: bold;
        &:hover{
          color: $orange_light;
          transition: all 0.3s;
        }
      }
    }
  }
}

@media screen and (max-width:499px){

}
