@use '../../variables' as *;

#addresses{
  font-family: $font;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $grey !important;
  color: $white_light;
  h2{
    @include standard-h2-title;
  }
  @include standard-form;
  form[name="add_address"]{
    border: 1px solid $orange;
  }
  #checkout_form_stripe{
    button{
      color: $grey_dark;
      border: none;
      border-radius: 8px;
      background: $orange;
      transition: all 0.2s;
      &:hover{
        transform: scale(1.1);
        background: $orange_light;
        transition: all 0.3s ease-out;
      }
    }
  }
  #registered_addresses{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width:90%;
    position:relative;
    div{
      display: flex;
      flex-direction: column;
      width: 25%;
      min-width: 175px;
      position: relative;
      border: 1px solid $grey_light;
      border-radius: 8px;
      margin: 2%;
      padding: 1% 2%;
      background: $grandient_greyToLight;
      transition: all 0.2s;
      &:hover{
        border: 1px solid $yellow;
        transition: all 0.4s;
      }
      .modal_buttons{
        position:absolute;
        top:3%;
        right:3%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 10%;
        button{
          width: 45%;
          background: $grey_dark;
          border-radius: unset;
          outline: none;
          border: 1px solid $white_light;
          color: $white_light;
          padding: 5%;
          margin: 1%;
          &:enabled{
            &:hover{
              background: $grey;
              color: $orange_light;
              border: 1px solid $orange_light;
              cursor: pointer;
              transition:all 0.3s;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:499px){
  #addresses{
    form{
      width:95%;
    }
    #registered_addresses{
      div{
        flex-grow: 1;
      }
    }
  }
}