@use 'assets/styles/variables' as *;

#addresses{
  font-family: $font;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:100%;
  background:white;
  h2{
    font-size: calc(14px + 1vw);
  }
  a{
    text-decoration: none;
    padding:1% 2%;
    border:1px solid black;
    background:white;
    color:black;
    margin:calc(max(2%, 20px));
    &:hover{
      background:rgb(195, 195, 195);
      transition: all 0.3s;
    }
  }
  form{
    border:1px solid $grey;
    padding:2%;
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
    width:50%;
    margin:2%;
    div{
      position: relative;
      width: 100%;
      div{
        display: flex;
        flex-direction: row;
        margin:1%;
        label, input{
          width:70%;
          font-family: $font;
        }
        label{
          margin-right:1%;
          text-align: right;
          width:30%;
        }
      }
    }
    input[type=submit]{
      margin-top:2%;
      background:$grey;
      color:white;
      font-family: $font;
      outline:0;
      border:1px solid black;
      border-radius: unset;
      padding:1.5%;
      font-size:calc(10px + 0.5vw);
      line-height:calc(10px + 0.5vw);
      &:hover{
        background:$grey_light;
        transition:all 0.3s;
        cursor:pointer;
        font-size:calc(13px + 0.5vw);
      }
    }
  }
  #registered_addresses{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:90%;
    position:relative;
    div{
      display:flex;
      flex-direction: column;
      width:25%;
      min-width: 175px;
      position:relative;
      border:1px solid black;
      margin:2%;
      padding:1% 2%;
      button{
        position:absolute;
        top:3%;
        right:3%;
        background:white;
        border-radius: unset;
        outline: none;
        border:1px solid black;
        padding:1%;
        &:hover{
          background:rgb(209, 209, 209);
          cursor:pointer;
          transition:all 0.3s;
        }
      }
    }
  }
}

@media screen and(max-width:499px){
  #addresses{
    form{
      width:95%;
    }
    #registered_addresses{
      div{
        flex-grow: 1;
      }
    }
  }
}