@use 'assets/styles/variables' as *;

.admin_add_item{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $grey_transparent;
  #main_modal{
    position: relative;
    width: 50%;
    min-width: 300px;
    background: $white;
    border: 1px solid black;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include standard-form;
    form{
      width: 90%;
      div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          label{
            text-align: center;
            margin-right: 0;
          }
          input, textarea{
            width: 70%;
            flex-grow: 1;
          }
        }
      }
    }
    .modal_buttons{
      width: 100%;
      display:flex;
      justify-content: flex-end;
      .close-modal{
        padding: 1%;
        &:hover{
          background: $grey_light;
          cursor: pointer;
          transition: all 0.3s;
        }
      }
    }
  }
}