@use '../../variables' as *;

#admin_alt{
  display:flex;
  width:100%;
  position:relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:2%;
  box-sizing: border-box;
  #adm_search_container{
    display:flex;
    width:90%;
    flex-direction: row;
    flex-wrap: wrap;
    position:relative;
    margin:calc(max(1%, 10px));
    section{
      width:25%;
      flex-grow: 1;
      min-width: 200px;
      position:relative;
      display: flex;
      justify-content: center;
      button{
        font-size: calc(16px + 0.8vw);
        line-height: calc(16px + 0.8vw);
        background:none;
        border:none;
        color:$orange;
        font-family: $font;
        &:hover{
          color:$green;
          cursor:pointer;
          transition:all 0.3s;
        }
      }
    }
  }
  #products{
    width:90%;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border:1px solid black;
    font-family: $font;
    padding:1%;
    box-sizing: border-box;
    details{
      width:100%;
      position:relative;
      padding:2%;
      border:1px solid $orange;
      margin:calc(max(1%,15px)) 0;
      box-sizing: border-box;
      summary{
        font-size: calc(14px + 0.6vw);
        &:hover{
          cursor:pointer;
        }
      }
      .div_det{
        @include div-det;
        div{
          width:25%;
          min-width: 100px;
          flex-grow: 1;
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          &.active, &.stock, &.price{
            width:10%;
            min-width:50px;
          }
          &.name, &.brand_name, &.product_name{
            width:15%;
            min-width:120px;
          }
          button {
            @include div-det-button;
          }
          p{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        a{
          width:15%;
          flex-grow: 1;
          text-decoration: none;
          color:$blue;
          text-align: center;
          &:hover{
            color:red;
            transition: all 0.3s;
          }
        }
      }
      details.det_det{
        position:relative;
        font-size: initial;
        height:max-content;
        box-sizing: content-box;
        width:85%;
        margin:calc(max(10px, 1%)) auto;
        text-align: center;
        summary{
          width:100%;
          box-sizing: content-box;
          position:relative;
          display:flex;
          flex-direction: row;
          align-items: center;
          font-size: initial;
          margin: 0 auto;
          list-style: circle;
          .span_div{
            width:12%;
            flex-grow: 1;
            display:flex;
            flex-direction: column;
            &:first-of-type{
              width:2%;
            }
            i{
              &:first-of-type{
                display:block;
              }
              &:last-of-type{
                display:none;
              }
            }
            button{
              @include div-det-button;
            }
            a{
              text-decoration: none;
              color:$blue;
              &:hover{
                color:red;
                transition:all 0.3s;
              }
            }
          }
        }
        &[open]{
          summary{
            i{
              &:first-of-type{
                display:none;
              }
              &:last-of-type{
                display:block;
              }
            }
          }
        }
        div{
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          position: relative;
          .div_det{
            width: 23%;
            position: relative;
            border: 1px solid black;
            margin: calc(max(10px, 1%));
            .adm_delete_btn{
              position: absolute;
              top: 1%;
              left: 1%;
              z-index: 3;
            }
            div{
              flex-direction: column;
            }
          }
        }
      }
    }
  }
  #add_discount_brand_product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    position:relative;
    .add_container{
      width:25%;
      flex-grow: 1;
      padding:2%;
      display:flex;
      button.adm_modify_btn, button.add_btn{
        flex-grow: 1;
        width:90%;
        padding:2%;
        background:white;
        border:1px solid $orange_light;
        font-family: $font;
        &:hover{
          cursor:pointer;
          background:$orange_light;
          transition: all 0.3s;
        }
      }
    }
  }
  .search_item_container{
    height:100vh;
    width:100%;
    position:fixed;
    top:0;
    background:rgba(136, 136, 136, 0.8);
    z-index:7;
    visibility: hidden;
    left:0;
    .search_item_box{
      position: absolute;
      height:80%;
      width:100%;
      bottom:-100%;
      background:white;
      display:flex;
      flex-direction: column;
      align-items: center;
      z-index:8;
      button{
        background:white;
        border:none;
        width:max-content;
        font-size: calc(18px + 1vw);
        color:$blue;
        &:hover{
          cursor:pointer;
          color:$blue_light;
          transition: color 0.3s;
        }
      }
      input{
        width:80%;
        line-height: calc(20px + 1.5vw);
        font-size: calc(22px + 1.6vw);
        font-family: $font;
        text-align: center;
      }
    }
    .search_results_box{
      overflow-y: auto;
      height:auto;
      scrollbar-color: $orange #e0e0e0;
      scrollbar-width: thin;
      padding:2%;
      width:100%;
      .div_det{
        @include div-det;
        div{
          width:20%;
          min-width: 120px;
          flex-grow: 1;
          display:flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: center;
          &.active, &.stock, &.price{
            width:10%;
            min-width:50px;
          }
          &.name, &.brand_name, &.product_name{
            width:15%;
            min-width:120px;
          }
          button{
            outline: 0;
            border: 1px solid $orange_light;
            padding: 2px 5px;
            border-radius: unset;
            font-family: $font;
            background: $white;
            color: black;
            width: max-content;
            align-self: center;
            font-size: initial;
            &:hover{
              cursor: pointer;
              background: $orange_light;
              transition: all 0.3s;
            }
          }
          p{
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        a{
          width:30%;
          flex-grow: 1;
          text-decoration: none;
          color:$blue;
          text-align: center;
          &:hover{
            color:$blue_light;
            transition: all 0.3s;
          }
        }
      }
      &#search_results_discount{
        .div_det{
          div{
            width:15%;
          }
        }
      }
    }
  }
}

.add_form_container{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  background:rgba(136, 136, 136, 0.8);
  z-index:7;
  visibility: hidden;
  .add_form{
    position:relative;
    background:white;
    border:1px solid black;
    font-family:$font;
    display:flex;
    flex-direction: column;
    padding:calc(max(3%, 10px));
    height:max-content;
    text-align: center;
    min-width:50%;
    input{
      margin:calc(max(1%, 8px));
      &[type=submit]{
        font-family: $font;
        outline: 0;
        border-radius: unset;
        border:1px solid black;
        padding:2% 0;
        &:hover{
          cursor:pointer;
        }
      }
      &[type=number]{
        -moz-appearance: textfield;
      }
    }
    select{
      margin:calc(max(1%, 8px));
      font-family: $font;
      option{
        font-family: 'Courier', serif;
      }
    }
    .close_form_btn{
      color:red;
      outline: 0;
      border:none;
      background:none;
      padding:1%;
      position:absolute;
      top:5%;
      right:5%;
      font-size: calc(10px + 0.7vw);
      &:hover{
        cursor:pointer;
      }
    }
  }
}